
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log


*.tmp
*.temp
*.bak
*.swp
*.DS_Store
Thumbs.db


.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates


project.lock.json
project.fragment.lock.json
artifacts/


*.publishsettings
*.pubxml
*.pubxml.user


docker-compose.override.yml
docker-compose.*.yml

*.~undo-tree
*.~undo-tree~undo-tree

server_cuda/build